<h2>About Me</h2>
<p>I study computer science and finance at the University of Waterloo</p>
<p>Why study computer science? Nothing more satisfying than solving problems and building cool software</p>
<p>Why study finance? Let's be honest, who doesn't like money?</p>

<h2>Latest books I have read</h2>
<ul>
  <li>The Three-Body Problem by Cixin Liu</li>
  <li>Superforecasting: The Art and Science of Prediction by Philip Tetlock</li>
  <li>The Bookshop of Yesterdays by Amy Meyerson</li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/Tokery">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin-square fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/kevin-cottington-776476108/">LinkedIn</a>
  </li>
</ul>
